html{
    background-color: #F3EEEA;
}
h1{
    background-color: #B0A695;
    padding: 10px;
    text-align: center;
    margin: 10px;
    font-style: bold;
    font-family: sans-serif;
}
button{
    background-color: #776B5D;
    ali
}